/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     
}

h1, h2{
   color: red;
   text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

fieldset{
     max-width: fit-content;
     margin:auto

}


form{
     display:flex;
     flex-flow: column wrap;
}

input, textarea{
     display:block;
     margin: 10px
}

div.roster{
     margin: 10px auto;
     width:500px;
     border: 5px solid black
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
