/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     
}

h1, h2, h3{
   color: red;
   text-align: center;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

fieldset{
     max-width: fit-content;
     margin:auto

}

.selectScreen, .fight{
     margin:auto
}

.fight{
     margin-top: 15px;
     margin-bottom: 15px;
}


form{
     display:flex;
     flex-flow: column wrap;
}

input, textarea{
     display:block;
     margin: 10px
}

div.roster, div.graveyard, div.fightPit{
     display: flex;
     margin: 10px auto;
     width:50%;
     flex-flow: row wrap
     /* border: 5px solid black; */
}

div.fightPit{
     flex-flow: column;

}

div.character{
     border: 2px solid black;
     margin: auto;
     padding: 5px 10px;
     max-width: 33%;
}

ul.charAttributes {
     padding: 0px;
}

ul.charAttributes li{
     list-style: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
